ul div {
    // width: calc((100%)/3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    width: calc((100%)/4);
border:gray 1px solid;
border-radius: 15px;
list-style: none;
}

li {
    float: left;
    list-style: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#698da6;
}

.notActive {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color:#698da6;
    border-radius: 15px;

    &:hover {
        background-color: #698da6;
    }
}

.isActive {
    @extend .notActive;
    background-color: rgb(170, 129, 170);

    &:hover {
        background-color:  rgb(170, 129, 170);
    }
}