

ul div {
    width:  calc((100%)/3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c58e8e;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}